body {

    background-color: #fff;
    font-family: sans-serif;
    color: white;
}


.card{

    
    text-align: center;
    width: 300px;
    margin: auto;
    margin-top: 50px;
    padding: 10px;

    box-shadow: 0 0 45px #0007;
    border-radius: 7px;

}


.card_green{

    background: #8f8;

}
.card_blue{

    background: #88f;

}

.card_red{

    background: #f86;
}

.Title {

    padding-top: 10px;
    font-size: 22px;
    margin: 0;
}

.Title_2 {


    font-size: 14px;
    font-weight: 100;
    letter-spacing: 2px;
    margin: 0;
}

.Text {

    font-size: 9px;
    padding: 10px;
    padding-bottom: 0;
    width: auto;
    
    text-align: justify;
}

.mono {

    width: 200px;
    border-radius: 40%;


}